In [10]:
#%qtconsole

In [104]:
import os
from os.path import expanduser
home = expanduser("~")
datap = os.path.join(home,'Documents','repos','kagle','yelp','Data')

In [31]:
train_photos = os.listdir(os.path.join(datap,'train_photos'))

In [63]:
import pandas as pd
train = pd.read_csv(os.path.join(datap,'train.csv'))
train['labels']

'1 2 3 4 5 6 7'

In [97]:
train.columns = ['idb','labs']
def transform_labels_array(x):
    try:
        return map(int,x.split(' '))
    except:
        x
train = train.dropna()
y = list(train.labs.map(lambda x:transform_labels_array(x)))

In [102]:
from sklearn.preprocessing import MultiLabelBinarizer
MultiLabelBinarizer().fit_transform(y).shape

(1996, 9)

In [103]:
train.shape

(1996, 2)

In [30]:
pd.read_csv(os.path.join(datap,'train_photo_to_biz_ids.csv')).head()

   photo_id  business_id
0    204149         3034
1     52779         2805
2    278973          485
3    195284          485
4     19992          485

In [32]:
train_photos[:10]

['10.jpg',
 '100003.jpg',
 '100007.jpg',
 '100008.jpg',
 '100009.jpg',
 '100010.jpg',
 '10002.jpg',
 '100021.jpg',
 '100023.jpg',
 '100024.jpg']